# Python
__pycache__/
*.py[codz]
*.so
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment
.env
.envrc
.env*

# Virtual environments
.venv
venv/
env/

# Poetry
poetry.toml

# Testing
.pytest_cache/
.coverage
htmlcov/
/coverage

# mypy
.mypy_cache/

# Node / React
node_modules/
.npm
.eslintcache

# Next.js
.next
/out/
next-env.d.ts
*.tsbuildinfo

# Vercel
.vercel

# VSCode
tempCodeRunnerFile.py

# macOS
.DS_Store

# misc
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*