# Python
__pycache__/
*.py[codz]
*.so
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment
.env
.envrc

# Virtual environments
.venv
venv/
env/

# Poetry
poetry.toml

# Testing
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/

# Node / React
node_modules/
dist-ssr/
*.local
.npm
.eslintcache

# Vite
vite.config.js.timestamp-*

# Environment files (JS)
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode
tempCodeRunnerFile.py

# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
